# python version
python ==3.12

# FastAPI Stack
fastapi==0.109.1
uvicorn[standard]==0.23.2

# Database
sqlalchemy>=2.0
psycopg[binary]

# Forms & Validation
python-multipart==0.0.6
pydantic[email]==2.6.2

# Authentication
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-jose[cryptography]==3.3.0

# File parsing
pdfplumber==0.9.0
python-docx==0.8.11

# Test libraries
pytest==7.4.0
pytest-asyncio==0.21.1
httpx==0.26.0
coverage==7.2.7
requests

# AI integratinos
ollama-python==0.1.2 #compatible with httpx<0.27
openai==0.27.9
tiktoken==0.4.0